/*
LAYOUT: Two-Column (Right)
DESCRIPTION: Two-column fluid layout with one sidebars right of content
*/
div#container {
float:left;
max-width:1100px;
min-width:860px;
}

div#content {
width:70%;
}

div.sidebar {
float:right;
overflow:hidden;
width:28%;
}

div#secondary {
clear:right;
}

div#footer {
clear:both;
}