/*
LAYOUT: Two-Column (Right)
DESCRIPTION: Two-column fluid layout with one sidebars right of content
*/
div#container {
padding:0 44px;
max-width:1128px;
min-width:912px;
}

div#content {
float:left;
width:76%;
}

div.sidebar {
float:right;
overflow:hidden;
width:22%;
}

div#secondary {
clear:right;
}

div#footer {
clear:both;
}